---
- name: Install the application
  hosts: all

  vars:
    project_path: /app
    bower_path: bower
    extra_path: ./vendor/bin
    has_bower: true
    has_composer: true

  roles:
    - { role: kosssi.composer, become: true }

  tasks:
    - name: "Add {{ extra_path }} to path"
      lineinfile:
        dest: ~/.profile
        state: present
        backrefs: yes
        regexp: '^PATH=(["]*)((?!.*?{{ extra_path }}).*?)(["]*)$'
        line: 'PATH=\1\2:{{ extra_path }}\3'

    - name: "Change dir to {{ project_path }} on login"
      lineinfile:
        dest: ~/.profile
        state: present
        line: 'cd {{ project_path }}'

    - name: Add composer github token
      command: >
        {{ composer_path }} config --global github-oauth.github.com {{ composer_github_oauth }}
      when: composer_github_oauth != "" and composer_github_oauth != false

    - name: Stat bower.json
      stat: path="{{ project_path }}/bower.json"
      register: bower_json

    - name: Install asset dependencies
      command: >
        {{ bower_path }} install --production --silent
      args:
        chdir: "{{ project_path }}"
        creates: "{{ project_path }}/bower_components"
      when: has_bower and bower_json.stat.exists == True

    - name: Stat composer.lock
      stat: path="{{ project_path }}/composer.lock"
      register: composer_lock

    - name: Install composer dependencies
      command: >
        {{ composer_path }} install --no-interaction
      args:
        chdir: "{{ project_path }}"
      when: has_composer and composer_lock.stat.exists == True

    - name: "Stat {{ project_path }}/ansible_dev.yml"
      stat: path="{{ project_path }}/ansible_dev.yml"
      register: projecttasks

    - include: "{{ project_path }}/ansible_dev.yml"
      tags: projecttasks
      when: projecttasks.stat.exists == True
