---
- name: Configure services
  hosts: all
  become: yes

  vars:
    percona_server_root_password: vagrant_root
    percona_server_databases:
      - { name: vagrant }
    percona_server_users:
      - { name: vagrant, password: vagrant, priv: "vagrant.*:ALL" }
    percona_server_server_config:
      performance_schema: "off"

    php_fpm_version: '7.1'
    php_fpm_apt_packages:
      - php{{php_fpm_version}}-fpm
      - php{{php_fpm_version}}-cli
      - php{{php_fpm_version}}-apcu
      - php{{php_fpm_version}}-mysql
      - php{{php_fpm_version}}-intl
      - php{{php_fpm_version}}-curl
      - php{{php_fpm_version}}-imagick
      - php{{php_fpm_version}}-sqlite3
      - php{{php_fpm_version}}-xml
      - php{{php_fpm_version}}-zip
      - php{{php_fpm_version}}-soap
      - php{{php_fpm_version}}-gd
      - php{{php_fpm_version}}-ldap
      - php{{php_fpm_version}}-bcmath
      - php{{php_fpm_version}}-mbstring
      - php{{php_fpm_version}}-pgsql
      - php{{php_fpm_version}}-tidy
      - php{{php_fpm_version}}-phpdbg
      - php-ast

    php_fpm_pools:
      - name: vagrant
        user: vagrant
        group: vagrant
        listen: /var/run/php/fpm-vagrant.sock
        listen.owner: www-data
        listen.group: www-data
        listen.mode: "0660"
        pm.max_spare_servers: "{{ ansible_processor_vcpus * 2 }}"
        pm.max_children: "{{ ansible_processor_vcpus * 2 }}"

    php_fpm_ini:
      # PHP section directives
      - option: "error_reporting"
        section: "PHP"
        value: "E_ALL"
      - option: "display_errors"
        section: "PHP"
        value: "on"
      - option: "display_startup_errors"
        section: "PHP"
        value: "on"
      - option: "log_errors"
        section: "PHP"
        value: "On"
      - option: "date.timezone"
        section: "PHP"
        value: "UTC"

    nginx_ubuntu_pkg:
      - nginx

    nginx_sites:
      vagrant:
         - listen 80
         - server_name *.dev
         - root /app/web
         - access_log /var/log/nginx/vagrant.access_log
         - error_log /var/log/nginx/vagrant.error_log
         - fastcgi_buffers 16 16k
         - fastcgi_buffer_size 32k
         - "location / { try_files $uri /app.php$is_args$args; }"
         -  location ~ ^/(app|app_dev|config|install)\.php(/|$) {
            fastcgi_pass unix:/var/run/php/fpm-vagrant.sock;
            fastcgi_split_path_info ^(.+\.php)(/.*)$;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param HTTPS off;
          }

  roles:
    - jdauphant.nginx
    - nbz4live.php-fpm
    - dincho.percona-server
    - dincho.elasticsearch

  tasks:
    - name: Install nodejs, npm, git
      apt: pkg={{ item }} state=installed
      with_items:
       - nodejs-legacy
       - npm
       - git

    - name: Install bower & yarn
      npm: name={{ item }} global=yes state=present
      with_items:
       - bower
       - yarn
